apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "container-agent.fullname" . }}
data:
  taskpods: |
    resourceClasses:
      liquorichris.container-agent:
    {{- if .Values.orchestrator.resources }}
    runnerInitResources:
      {{- toYaml .Values.orchestrator.resources | nindent 6 }}
    {{- end }}
    {{- if .Values.agent.serviceContainers }}
    serviceContainers:
      {{- toYaml .Values.agent.serviceContainers | nindent 6 }}
    {{- end }}
